<a href="https://colab.research.google.com/github/arthursl12/POC1/blob/main/POC2_FD001_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
%pip install scikeras;
%pip install -U tensorflow-addons;

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikeras
  Downloading scikeras-0.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: importlib-metadata>=3 in /usr/local/lib/python3.7/dist-packages (from scikeras) (4.12.0)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikeras) (1.0.2)
Requirement already satisfied: packaging>=0.21 in /usr/local/lib/python3.7/dist-packages (from scikeras) (21.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3->scikeras) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3->scikeras) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=0.21->scikeras) (3.0.9)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.21.6)
Installing collected packages: scikeras
Successfully installed scikeras-0.9.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-addons
  Downloading tensorflow_addons-0.18.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 29.8 MB/s
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (2.7.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow-addons) (3.0.9)
Installing collected packages: tensorflow-addons
Successfully installed tensorflow-addons-0.18.0

In [2]:
import os
import random
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import glob
import datetime

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.compose import TransformedTargetRegressor

from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [4]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM

from tensorflow.keras.metrics import RootMeanSquaredError as RMSE

from keras.callbacks import LambdaCallback
from tensorflow.keras.optimizers import SGD, Adam, RMSprop
from tensorflow.keras.optimizers.schedules import ExponentialDecay

import tensorflow_addons as tfa
from tensorflow_addons.metrics import RSquare as R2



from scikeras.wrappers import KerasRegressor

In [5]:
sns.set_palette('colorblind')

In [6]:
# Reproducibility
seed = 42
os.environ['PYTHONHASHSEED']=str(seed)
random.seed(seed)
np.random.seed(seed)
tf.random.set_seed(seed)

In [7]:
tf.config.experimental.enable_op_determinism()

# Data Preparation

In [8]:
# Dataset Download 
os.system('git clone https://github.com/arthursl12/dataset_2')
os.system('mv /content/dataset_2/CMaps /content/CMaps')
os.system('mv /content/dataset_2/data_processing /content/data_processing')
os.system('rm -rf dataset_2')

0

In [9]:
from data_processing.processing import DatasetProcessing
from data_processing.training import HyperparameterSearch, reclipper_scorer
from data_processing.eval import Evaluation

In [10]:
proc = DatasetProcessing()

## Data Integration

The data are provided as a zip-compressed text file with 26 columns of numbers, separated by spaces. Each row is a snapshot of data taken during a single operational cycle, each column is a different variable. The columns correspond to:  

1) unit number   
2) time, in cycles  
3) operational setting 1  
4) operational setting 2  
5) operational setting 3    
6) sensor measurement 1    
7) sensor measurement 2  
...  
26) sensor measurement 20


There are 6 conditions (or combinations) which the 3 operational settings can take.  
Condition 1: Altitude = 0, Mach Number = 0, TRA = 100  
Condition 2: Altitude = 10, Mach Number = 0.25, TRA = 100  
Condition 3: Altitude = 20, Mach Number = 0.7 TRA = 100  
Condition 4: Altitude = 25, Mach Number = 0.62, TRA = 60  
Condition 5: Altitude = 35 Mach Number = 0.84, TRA = 100  
Condition 6: Altitude = 42, Mach Number = 0.84, TRA = 100  
  
There is slight variation in all these conditions so you may get numbers like 24.453 instead of 25 exactly.

FD001: Condition 1 only  
FD002: Mix of all the conditions  
FD003: Condition 1 only  
FD004: Mix of all conditions

In [11]:
index_cols, settings_cols, sensors_cols, cols = proc.column_names()
train, test, y_test = proc.read_dataset(1)
train

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

## Preprocessing

### Validation Set

In [12]:
from sklearn.model_selection import GroupShuffleSplit

def train_val_split(train):
    gss = GroupShuffleSplit(n_splits=1, train_size=0.80, random_state=42)  
    for idx_train, idx_val in gss.split(train,groups=train["unit_number"]):
        # print('train_split_engines', train.iloc[idx_train]['unit_number'].unique(), '\n')
        # print('validate_split_engines', train.iloc[idx_val]['unit_number'].unique(), '\n')

        df_train = train.iloc[idx_train].copy()
        df_val = train.iloc[idx_val].copy()

    return df_train, df_val

In [13]:
df_train, df_val = train_val_split(train)

In [14]:
X_t_train, y_t_train = proc.X_y_train_divide(df_train)
X_t_val, y_t_val = proc.X_y_train_divide(df_val)

### Test Set Transformation 
Test set has samples for all cycles, but has annotations only for last one

In [15]:
test.shape, y_test.shape

((13096, 26), (100, 1))

In [16]:
test_last = proc.transform_test(test)
test_last.head()

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20
0,518.67,642.58,1581.22,1398.91,14.62,21.61,554.42,2388.08,9056.40,1.3,...,521.79,2388.06,8130.11,8.4024,0.03,393,2388,100.0,38.81,23.3552
1,518.67,642.55,1586.59,1410.83,14.62,21.61,553.52,2388.10,9044.77,1.3,...,521.74,2388.09,8126.90,8.4505,0.03,391,2388,100.0,38.81,23.2618
2,518.67,642.88,1589.75,1418.89,14.62,21.61,552.59,2388.16,9049.26,1.3,...,520.83,2388.14,8131.46,8.4119,0.03,395,2388,100.0,38.93,23.2740
3,518.67,642.78,1594.53,1406.88,14.62,21.61,552.64,2388.13,9051.30,1.3,...,521.88,2388.11,8133.64,8.4634,0.03,395,2388,100.0,38.58,23.2581
4,518.67,642.27,1589.94,1419.36,14.62,21.61,553.29,2388.10,9053.99,1.3,...,521.00,2388.15,8125.74,8.4362,0.03,394,2388,100.0,38.75,23.4117

In [17]:
X_test = test_last

### Remaining Useful Life (RUL)

In [18]:
train = proc.add_remaining_useful_life_linear(train)
train[index_cols+['RUL']].head()

   unit_number  time  RUL
0            1     1  191
1            1     2  190
2            1     3  189
3            1     4  188
4            1     5  187

## Attributes and target separation

In [19]:
X_train, y_train = proc.X_y_train_divide(train)

In [20]:
y_train.head()

   RUL
0  191
1  190
2  189
3  188
4  187

In [21]:
X_train.head()

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20
0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

## Training and Evaluation functions

In [22]:
eval = Evaluation()

In [23]:
search = HyperparameterSearch()

# MLP Construction

## Callbacks

In [ ]:
# Early Stopping Callback
es = tf.keras.callbacks.EarlyStopping(monitor='loss', 
                                      patience=5, restore_best_weights=True)

In [ ]:
# Printing Callback
def printLog(epoch, logs):
    print(
        f"E {epoch}\t: loss={logs['loss']:.3f}, "+
        f"rmse={logs['root_mean_squared_error']:.3f}, "+
        f"r2={logs['r_square']:.3f}; "+
        f"v_loss={logs['val_loss']:.3f}, "+
        f"v_rmse={logs['val_root_mean_squared_error']:.3f}, "+
        f"v_r2={logs['val_r_square']:.3f}; "
    )

printerCallback = LambdaCallback(on_epoch_end=printLog)

## Wrapper

In [120]:
from sklearn.base import BaseEstimator,RegressorMixin

class LSTMWrapperRegressor(BaseEstimator,RegressorMixin):
    def __init__(self, basemodel=None, clip_y=50, scaler=StandardScaler(), seq_length=40):
        self.basemodel = basemodel
        self.clip_y = clip_y
        self.scaler = scaler
        self.seq_length = seq_length

    def fit(self, X=None, y=None):
        # Merge features and target again
        data = X.copy()
        data["RUL"] = y

        # Transform into time series 
        data[settings_cols+sensors_cols] = self.scaler.fit_transform(data[settings_cols+sensors_cols])
        # print(data)
        print(">> Wrapping")
        X_train = self.gen_X_wrapper(data,self.seq_length,SEQ_COLS)
        data2 = data.copy()
        data2["RUL"].clip(upper=self.clip_y, inplace=True)
        y_train = self.gen_y_wrapper(data2,self.seq_length,["RUL"])

        global INPUT_SHAPE
        INPUT_SHAPE = (X_train.shape[1],X_train.shape[2])

        self.basemodel.fit(X_train,y_train)

        return self
        
    def predict(self, X=None):
        X_train = self.gen_X_wrapper(X,self.seq_length,SEQ_COLS)
        return self.basemodel.predict(X_train)

    def gen_X_data(self, df, sequence_length, columns):
        data = df[columns].values
        num_elements = data.shape[0]

        # -1 and +1 because of Python indexing
        for start, stop in zip(range(0, num_elements-(sequence_length-1)), range(sequence_length, num_elements+1)):
            yield data[start:stop, :]

    def gen_X_wrapper(self, df, sequence_length, columns, unit_nrs=np.array([]), idx_col="unit_number"):
        if unit_nrs.size <= 0:
            unit_nrs = df[idx_col].unique()
            
        data_gen = (list(self.gen_X_data(df[df[idx_col]==unit_nr], sequence_length, columns))
                for unit_nr in unit_nrs)
        data_array = np.concatenate(list(data_gen)).astype(np.float32)
        return data_array

    def gen_y(self, df, sequence_length, label):
        data_matrix = df[label].values
        num_elements = data_matrix.shape[0]

        # -1 because I want to predict the rul of that last row in the sequence, not the next row
        return data_matrix[sequence_length-1:num_elements, :]  

    def gen_y_wrapper(self, df, sequence_length, label, unit_nrs=np.array([]), idx_col="unit_number"):
        if unit_nrs.size <= 0:
            unit_nrs = df[idx_col].unique()
            
        label_gen = [self.gen_y(df[df[idx_col]==unit_nr], sequence_length, label) 
                    for unit_nr in unit_nrs]
        label_array = np.concatenate(label_gen).astype(np.float32)
        return label_array

In [86]:
index_cols, settings_cols, sensors_cols, cols
seq_cols = [index_cols[1]]+settings_cols+sensors_cols
SEQ_COLS = seq_cols

In [123]:
train3 = train.copy()

# Including indices as well
X_train_ = train3.drop(columns=["RUL"])

In [121]:
from tensorflow.keras.layers import LSTM, Dense, Dropout, Masking, TimeDistributed

def create_model():
    print(">> Model Creation")
    model = Sequential()
    model.add(Masking(mask_value=-99., input_shape=INPUT_SHAPE))
    model.add(LSTM(32, activation='tanh'))
    model.add(Dense(1))

    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [ ]:
model = LSTMWrapperRegressor(
        clip_y=105,
        seq_length=45,
        basemodel=
            KerasRegressor(model=create_model,
                           validation_split=0.1, 
                           epochs=10, 
                           batch_size=16,
                           )
    )
model.fit(X_train_, y_train)

>> Wrapping
>> Model Creation
Epoch 1/10

## Test Data

In [126]:
def gen_test_data(df, sequence_length, columns, mask_value):
    if df.shape[0] < sequence_length:
        data_matrix = np.full(shape=(sequence_length, len(columns)), fill_value=mask_value) # pad
        idx = data_matrix.shape[0] - df.shape[0]
        data_matrix[idx:,:] = df[columns].values  # fill with available data
    else:
        data_matrix = df[columns].values
        
    # specifically yield the last possible sequence
    stop = num_elements = data_matrix.shape[0]
    start = stop - sequence_length
    for i in list(range(1)):
        yield data_matrix[start:stop, :]

# OFF

In [99]:
train3 = train.copy()

X_train_ = train3.drop(columns=["RUL"])
X_train_

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [97]:
train3 = train.copy()

X_train_ = train3.drop(columns=["RUL"])
pd.DataFrame(model.fit_transform(X_train_, y_train))

KeyError: ignored

In [75]:
model.get_feature_names_out()

array(['__op_1', '__op_2', '__op_3', '__s_0', '__s_1', '__s_2', '__s_3',
       '__s_4', '__s_5', '__s_6', '__s_7', '__s_8', '__s_9', '__s_10',
       '__s_11', '__s_12', '__s_13', '__s_14', '__s_15', '__s_16',
       '__s_17', '__s_18', '__s_19', '__s_20', 'remainder__time'],
      dtype=object)

In [58]:
train3

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL
0,1,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,-1.776357e-15,...,-1.058890,-0.269071,-0.603816,-1.387779e-17,-0.781710,0.0,0.0,1.348493,1.194427,191
1,1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,-1.776357e-15,...,-0.363646,-0.642845,-0.275852,-1.387779e-17,-0.781710,0.0,0.0,1.016528,1.236922,190
2,1,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,-1.776357e-15,...,-0.919841,-0.551629,-0.649144,-1.387779e-17,-2.073094,0.0,0.0,0.739891,0.503423,189
3,1,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,-1.776357e-15,...,-0.224597,-0.520176,-1.971665,-1.387779e-17,-0.781710,0.0,0.0,0.352598,0.777792,188
4,1,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,-1.776357e-15,...,-0.780793,-0.521748,-0.339845,-1.387779e-17,-0.136018,0.0,0.0,0.463253,1.059552,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,-1.776357e-15,...,2.278282,-0.322542,1.425294,-1.387779e-17,2.446751,0.0,0.0,-1.805173,-2.921113,4
20627,100,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,-1.776357e-15,...,1.722087,-0.380207,1.913240,-1.387779e-17,1.155367,0.0,0.0,-2.856395,-1.203764,3
20628,100,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,-1.776357e-15,...,2.000184,-0.141684,3.265092,-1.387779e-17,3.092444,0.0,0.0,-2.081810,-3.292481,2
20629,100,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,-1.776357e-15,...,1.861136,-0.233948,2.579834,-1.387779e-17,1.155367,0.0,0.0,-2.911722,-2.085072,1
20630,100,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,-1.776357e-15,...,2.278282,-0.336696,1.638604,-1.387779e-17,1.801059,0.0,0.0,-2.469103,-2.194080,0

In [65]:
model.get_feature_names_out()

array(['num_transformer__time', 'num_transformer__op_1',
       'num_transformer__op_2', 'num_transformer__op_3',
       'num_transformer__s_0', 'num_transformer__s_1',
       'num_transformer__s_2', 'num_transformer__s_3',
       'num_transformer__s_4', 'num_transformer__s_5',
       'num_transformer__s_6', 'num_transformer__s_7',
       'num_transformer__s_8', 'num_transformer__s_9',
       'num_transformer__s_10', 'num_transformer__s_11',
       'num_transformer__s_12', 'num_transformer__s_13',
       'num_transformer__s_14', 'num_transformer__s_15',
       'num_transformer__s_16', 'num_transformer__s_17',
       'num_transformer__s_18', 'num_transformer__s_19',
       'num_transformer__s_20'], dtype=object)

In [68]:
train3

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL
0,1,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,-1.776357e-15,...,-1.058890,-0.269071,-0.603816,-1.387779e-17,-0.781710,0.0,0.0,1.348493,1.194427,191
1,1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,-1.776357e-15,...,-0.363646,-0.642845,-0.275852,-1.387779e-17,-0.781710,0.0,0.0,1.016528,1.236922,190
2,1,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,-1.776357e-15,...,-0.919841,-0.551629,-0.649144,-1.387779e-17,-2.073094,0.0,0.0,0.739891,0.503423,189
3,1,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,-1.776357e-15,...,-0.224597,-0.520176,-1.971665,-1.387779e-17,-0.781710,0.0,0.0,0.352598,0.777792,188
4,1,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,-1.776357e-15,...,-0.780793,-0.521748,-0.339845,-1.387779e-17,-0.136018,0.0,0.0,0.463253,1.059552,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,-1.776357e-15,...,2.278282,-0.322542,1.425294,-1.387779e-17,2.446751,0.0,0.0,-1.805173,-2.921113,4
20627,100,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,-1.776357e-15,...,1.722087,-0.380207,1.913240,-1.387779e-17,1.155367,0.0,0.0,-2.856395,-1.203764,3
20628,100,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,-1.776357e-15,...,2.000184,-0.141684,3.265092,-1.387779e-17,3.092444,0.0,0.0,-2.081810,-3.292481,2
20629,100,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,-1.776357e-15,...,1.861136,-0.233948,2.579834,-1.387779e-17,1.155367,0.0,0.0,-2.911722,-2.085072,1
20630,100,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,-1.776357e-15,...,2.278282,-0.336696,1.638604,-1.387779e-17,1.801059,0.0,0.0,-2.469103,-2.194080,0

In [66]:
pd.DataFrame(model.fit_transform(X_train_, y_train))

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,0.0,0.141683,...,0.334262,-1.058890,-0.269071,-0.603816,0.0,-0.781710,0.0,0.0,1.348493,1.194427
1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,0.0,0.141683,...,1.174899,-0.363646,-0.642845,-0.275852,0.0,-0.781710,0.0,0.0,1.016528,1.236922
2,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,0.0,0.141683,...,1.364721,-0.919841,-0.551629,-0.649144,0.0,-2.073094,0.0,0.0,0.739891,0.503423
3,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,0.0,0.141683,...,1.961302,-0.224597,-0.520176,-1.971665,0.0,-0.781710,0.0,0.0,0.352598,0.777792
4,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,0.0,0.141683,...,1.052871,-0.780793,-0.521748,-0.339845,0.0,-0.136018,0.0,0.0,0.463253,1.059552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,0.0,0.141683,...,-2.607969,2.278282,-0.322542,1.425294,0.0,2.446751,0.0,0.0,-1.805173,-2.921113
20627,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,0.0,0.141683,...,-2.350355,1.722087,-0.380207,1.913240,0.0,1.155367,0.0,0.0,-2.856395,-1.203764
20628,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,0.0,0.141683,...,-1.902919,2.000184,-0.141684,3.265092,0.0,3.092444,0.0,0.0,-2.081810,-3.292481
20629,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,0.0,0.141683,...,-2.363913,1.861136,-0.233948,2.579834,0.0,1.155367,0.0,0.0,-2.911722,-2.085072
20630,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,0.0,0.141683,...,-2.865584,2.278282,-0.336696,1.638604,0.0,1.801059,0.0,0.0,-2.469103,-2.194080

In [52]:
train3

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL
0,1,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,-1.776357e-15,...,-1.058890,-0.269071,-0.603816,-1.387779e-17,-0.781710,0.0,0.0,1.348493,1.194427,191
1,1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,-1.776357e-15,...,-0.363646,-0.642845,-0.275852,-1.387779e-17,-0.781710,0.0,0.0,1.016528,1.236922,190
2,1,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,-1.776357e-15,...,-0.919841,-0.551629,-0.649144,-1.387779e-17,-2.073094,0.0,0.0,0.739891,0.503423,189
3,1,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,-1.776357e-15,...,-0.224597,-0.520176,-1.971665,-1.387779e-17,-0.781710,0.0,0.0,0.352598,0.777792,188
4,1,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,-1.776357e-15,...,-0.780793,-0.521748,-0.339845,-1.387779e-17,-0.136018,0.0,0.0,0.463253,1.059552,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,-1.776357e-15,...,2.278282,-0.322542,1.425294,-1.387779e-17,2.446751,0.0,0.0,-1.805173,-2.921113,4
20627,100,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,-1.776357e-15,...,1.722087,-0.380207,1.913240,-1.387779e-17,1.155367,0.0,0.0,-2.856395,-1.203764,3
20628,100,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,-1.776357e-15,...,2.000184,-0.141684,3.265092,-1.387779e-17,3.092444,0.0,0.0,-2.081810,-3.292481,2
20629,100,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,-1.776357e-15,...,1.861136,-0.233948,2.579834,-1.387779e-17,1.155367,0.0,0.0,-2.911722,-2.085072,1
20630,100,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,-1.776357e-15,...,2.278282,-0.336696,1.638604,-1.387779e-17,1.801059,0.0,0.0,-2.469103,-2.194080,0

In [61]:
sc.fit_transform(X_train, y_train).shape

(20631, 21)

In [46]:
train3 = train.copy()

# SCALING
sc = StandardScaler()
train3[SEQ_COLS] = sc.fit_transform(train3[SEQ_COLS])

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL
0,1,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,-1.776357e-15,...,-1.058890,-0.269071,-0.603816,-1.387779e-17,-0.781710,0.0,0.0,1.348493,1.194427,191
1,1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,-1.776357e-15,...,-0.363646,-0.642845,-0.275852,-1.387779e-17,-0.781710,0.0,0.0,1.016528,1.236922,190
2,1,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,-1.776357e-15,...,-0.919841,-0.551629,-0.649144,-1.387779e-17,-2.073094,0.0,0.0,0.739891,0.503423,189
3,1,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,-1.776357e-15,...,-0.224597,-0.520176,-1.971665,-1.387779e-17,-0.781710,0.0,0.0,0.352598,0.777792,188
4,1,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,-1.776357e-15,...,-0.780793,-0.521748,-0.339845,-1.387779e-17,-0.136018,0.0,0.0,0.463253,1.059552,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,-1.776357e-15,...,2.278282,-0.322542,1.425294,-1.387779e-17,2.446751,0.0,0.0,-1.805173,-2.921113,4
20627,100,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,-1.776357e-15,...,1.722087,-0.380207,1.913240,-1.387779e-17,1.155367,0.0,0.0,-2.856395,-1.203764,3
20628,100,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,-1.776357e-15,...,2.000184,-0.141684,3.265092,-1.387779e-17,3.092444,0.0,0.0,-2.081810,-3.292481,2
20629,100,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,-1.776357e-15,...,1.861136,-0.233948,2.579834,-1.387779e-17,1.155367,0.0,0.0,-2.911722,-2.085072,1
20630,100,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,-1.776357e-15,...,2.278282,-0.336696,1.638604,-1.387779e-17,1.801059,0.0,0.0,-2.469103,-2.194080,0

In [63]:
X_train_ = train3[SEQ_COLS]

In [45]:
X2 = X_train.copy()
X2["RUL"] = y_train
X2["time"] = train["time"]
X2

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL,time
0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191,1
1,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190,2
2,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189,3
3,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188,4
4,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,518.67,643.49,1597.98,1428.63,14.62,21.61,551.43,2388.19,9065.52,1.3,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4,196
20627,518.67,643.54,1604.50,1433.58,14.62,21.61,550.86,2388.23,9065.11,1.3,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3,197
20628,518.67,643.42,1602.46,1428.18,14.62,21.61,550.94,2388.24,9065.90,1.3,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2,198
20629,518.67,643.23,1605.26,1426.53,14.62,21.61,550.68,2388.25,9073.72,1.3,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1,199
20630,518.67,643.85,1600.38,1432.14,14.62,21.61,550.79,2388.26,9061.48,1.3,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0,200

In [40]:
X_train, y_train

(          s_0     s_1      s_2      s_3    s_4    s_5     s_6      s_7  \
 0      518.67  641.82  1589.70  1400.60  14.62  21.61  554.36  2388.06
 1      518.67  642.15  1591.82  1403.14  14.62  21.61  553.75  2388.04
 2      518.67  642.35  1587.99  1404.20  14.62  21.61  554.26  2388.08
 3      518.67  642.35  1582.79  1401.87  14.62  21.61  554.45  2388.11
 4      518.67  642.37  1582.85  1406.22  14.62  21.61  554.00  2388.06
 ...       ...     ...      ...      ...    ...    ...     ...      ...
 20626  518.67  643.49  1597.98  1428.63  14.62  21.61  551.43  2388.19
 20627  518.67  643.54  1604.50  1433.58  14.62  21.61  550.86  2388.23
 20628  518.67  643.42  1602.46  1428.18  14.62  21.61  550.94  2388.24
 20629  518.67  643.23  1605.26  1426.53  14.62  21.61  550.68  2388.25
 20630  518.67  643.85  1600.38  1432.14  14.62  21.61  550.79  2388.26

            s_8  s_9  ...    s_11     s_12     s_13    s_14  s_15  s_16  s_17  \
 0      9046.19  1.3  ...  521.66  2388.02  8138.62  8.4195  0.03   392  2388
 1      9044.07  1.3  ...  522.28  2388.07  8131.49  8.4318  0.03   392  2388
 2      9052.94  1.3  ...  522.42  2388.03  8133.23  8.4178  0.03   390  2388
 3      9049.48  1.3  ...  522.86  2388.08  8133.83  8.3682  0.03   392  2388
 4      9055.15  1.3  ...  522.19  2388.04  8133.80  8.4294  0.03   393  2388
 ...        ...  ...  ...     ...      ...      ...     ...   ...   ...   ...
 20626  9065.52  1.3  ...  519.49  2388.26  8137.60  8.4956  0.03   397  2388
 20627  9065.11  1.3  ...  519.68  2388.22  8136.50  8.5139  0.03   395  2388
 20628  9065.90  1.3  ...  520.01  2388.24  8141.05  8.5646  0.03   398  2388
 20629  9073.72  1.3  ...  519.67  2388.23  8139.29  8.5389  0.03   395  2388
 20630  9061.48  1.3  ...  519.30  2388.26  8137.33  8.5036  0.03   396  2388

         s_18   s_19     s_20
 0      100.0  39.06  23.4190
 1      100.0  39.00  23.4236
 2      100.0  38.95  23.3442
 3      100.0  38.88  23.3739
 4      100.0  38.90  23.4044
 ...      ...    ...      ...
 20626  100.0  38.49  22.9735
 20627  100.0  38.30  23.1594
 20628  100.0  38.44  22.9333
 20629  100.0  38.29  23.0640
 20630  100.0  38.37  23.0522

 [20631 rows x 21 columns],        RUL
 0      191
 1      190
 2      189
 3      188
 4      187
 ...    ...
 20626    4
 20627    3
 20628    2
 20629    1
 20630    0

 [20631 rows x 1 columns])

In [ ]:
base = TransformedTargetRegressor(
        check_inverse=False,
        regressor   = KerasRegressor(
                                model=create_model,verbose=0, callbacks=[es], 
                                model__degree=1,
                                validation_split=0.2, 
                                model__metrics=[RMSE(), R2()],
                                model__loss='mse'),
        transformer = FunctionTransformer(np.clip, 
                                          kw_args={'a_min':0,'a_max':50})))

## TimeSeriesGeneration

In [ ]:
from keras.preprocessing.sequence import TimeseriesGenerator

In [ ]:
def gen_X_data(df, sequence_length, columns):
    data = df[columns].values
    num_elements = data.shape[0]

    # -1 and +1 because of Python indexing
    for start, stop in zip(range(0, num_elements-(sequence_length-1)), range(sequence_length, num_elements+1)):
        yield data[start:stop, :]

def gen_X_wrapper(df, sequence_length, columns, unit_nrs=np.array([]), idx_col="unit_number"):
    if unit_nrs.size <= 0:
        unit_nrs = df[idx_col].unique()
        
    data_gen = (list(gen_X_data(df[df[idx_col]==unit_nr], sequence_length, columns))
               for unit_nr in unit_nrs)
    data_array = np.concatenate(list(data_gen)).astype(np.float32)
    return data_array

In [ ]:
train3 = train.copy()
sc = StandardScaler()
train3[seq_cols] = sc.fit_transform(train3[seq_cols])
train3

,unit_number,time,op_1,op_2,op_3,s_0,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,RUL
0,1,-1.565170,-0.315980,-1.372953,0.0,0.0,-1.721725,-0.134255,-0.925936,-1.776357e-15,...,-1.058890,-0.269071,-0.603816,-1.387779e-17,-0.781710,0.0,0.0,1.348493,1.194427,191
1,1,-1.550652,0.872722,-1.031720,0.0,0.0,-1.061780,0.211528,-0.643726,-1.776357e-15,...,-0.363646,-0.642845,-0.275852,-1.387779e-17,-0.781710,0.0,0.0,1.016528,1.236922,190
2,1,-1.536134,-1.961874,1.015677,0.0,0.0,-0.661813,-0.413166,-0.525953,-1.776357e-15,...,-0.919841,-0.551629,-0.649144,-1.387779e-17,-2.073094,0.0,0.0,0.739891,0.503423,189
3,1,-1.521616,0.324090,-0.008022,0.0,0.0,-0.661813,-1.261314,-0.784831,-1.776357e-15,...,-0.224597,-0.520176,-1.971665,-1.387779e-17,-0.781710,0.0,0.0,0.352598,0.777792,188
4,1,-1.507098,-0.864611,-0.690488,0.0,0.0,-0.621816,-1.251528,-0.301518,-1.776357e-15,...,-0.780793,-0.521748,-0.339845,-1.387779e-17,-0.136018,0.0,0.0,0.463253,1.059552,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,1.265868,-0.178822,-1.031720,0.0,0.0,1.618000,1.216258,2.188375,-1.776357e-15,...,2.278282,-0.322542,1.425294,-1.387779e-17,2.446751,0.0,0.0,-1.805173,-2.921113,4
20627,100,1.280386,-0.727453,-1.714186,0.0,0.0,1.717992,2.279706,2.738351,-1.776357e-15,...,1.722087,-0.380207,1.913240,-1.387779e-17,1.155367,0.0,0.0,-2.856395,-1.203764,3
20628,100,1.294904,0.186933,-0.008022,0.0,0.0,1.478011,1.946971,2.138377,-1.776357e-15,...,2.000184,-0.141684,3.265092,-1.387779e-17,3.092444,0.0,0.0,-2.081810,-3.292481,2
20629,100,1.309423,-0.498857,1.015677,0.0,0.0,1.098043,2.403666,1.955051,-1.776357e-15,...,1.861136,-0.233948,2.579834,-1.387779e-17,1.155367,0.0,0.0,-2.911722,-2.085072,1
20630,100,1.323941,-1.458962,-1.714186,0.0,0.0,2.337940,1.607712,2.578358,-1.776357e-15,...,2.278282,-0.336696,1.638604,-1.387779e-17,1.801059,0.0,0.0,-2.469103,-2.194080,0

In [ ]:
def gen_y(df, sequence_length, label):
    data_matrix = df[label].values
    num_elements = data_matrix.shape[0]

    # -1 because I want to predict the rul of that last row in the sequence, not the next row
    return data_matrix[sequence_length-1:num_elements, :]  

def gen_y_wrapper(df, sequence_length, label, unit_nrs=np.array([]), idx_col="unit_number"):
    if unit_nrs.size <= 0:
        unit_nrs = df[idx_col].unique()
        
    label_gen = [gen_y(df[df[idx_col]==unit_nr], sequence_length, label) 
                for unit_nr in unit_nrs]
    label_array = np.concatenate(label_gen).astype(np.float32)
    return label_array

In [ ]:
def gen_test_data(df, sequence_length, columns, mask_value):
    if df.shape[0] < sequence_length:
        data_matrix = np.full(shape=(sequence_length, len(columns)), fill_value=mask_value) # pad
        idx = data_matrix.shape[0] - df.shape[0]
        data_matrix[idx:,:] = df[columns].values  # fill with available data
    else:
        data_matrix = df[columns].values
        
    # specifically yield the last possible sequence
    stop = num_elements = data_matrix.shape[0]
    start = stop - sequence_length
    for i in list(range(1)):
        yield data_matrix[start:stop, :]

In [ ]:
index_cols, settings_cols, sensors_cols, cols
seq_cols = [index_cols[1]]+settings_cols+sensors_cols
SEQ_COLS = seq_cols

In [ ]:
SEQ_LENGTH = 50
SEQ_COLS =

In [ ]:
X_train = gen_X_wrapper(train3,SEQ_LENGTH,seq_cols)

In [ ]:
INPUT_SHAPE = (X_train.shape[1],X_train.shape[2])
INPUT_SHAPE

(50, 25)

In [ ]:
train2 = train.copy()
train2['RUL'].clip(upper=125, inplace=True)
y_train = gen_y_wrapper(train2,SEQ_LENGTH,["RUL"])

In [ ]:
from tensorflow.keras.layers import LSTM, Dense, Dropout, Masking, TimeDistributed

def create_model():
    model = Sequential()
    model.add(Masking(mask_value=-99., input_shape=INPUT_SHAPE))
    model.add(LSTM(32, activation='tanh'))
    model.add(Dense(1))

    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [ ]:
model = Sequential()
model.add(Masking(mask_value=-99., input_shape=INPUT_SHAPE))
model.add(LSTM(32, activation='tanh'))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
history = model.fit(X_train, y_train,
                    validation_split=0.1,
                    epochs=5,
                    batch_size=16)

Epoch 1/5
885/885 [==============================] - 11s 8ms/step - loss: 4601.4697 - val_loss: 3701.0620
Epoch 2/5
885/885 [==============================] - 6s 7ms/step - loss: 2336.3801 - val_loss: 1977.2843
Epoch 3/5
885/885 [==============================] - 8s 9ms/step - loss: 1215.2590 - val_loss: 1052.6879
Epoch 4/5
885/885 [==============================] - 6s 7ms/step - loss: 638.3730 - val_loss: 582.7297
Epoch 5/5
885/885 [==============================] - 6s 7ms/step - loss: 336.3410 - val_loss: 320.4762

In [ ]:
# function to reshape features into (samples, time steps, features) 
def gen_sequence(id_df, seq_length, seq_cols):
    """ Only sequences that meet the window-length are considered, no padding is used. This means for testing
    we need to drop those which are below the window-length. An alternative would be to pad sequences so that
    we can use shorter ones """
    # for one id I put all the rows in a single matrix
    data_matrix = id_df[seq_cols].values
    num_elements = data_matrix.shape[0]
    # Iterate over two lists in parallel.
    # For example id1 have 192 rows and sequence_length is equal to 50
    # so zip iterate over two following list of numbers (0,112),(50,192)
    # 0 50 -> from row 0 to row 50
    # 1 51 -> from row 1 to row 51
    # 2 52 -> from row 2 to row 52
    # ...
    # 111 191 -> from row 111 to 191
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        yield data_matrix[start:stop, :]

In [ ]:
def gen_labels(df, sequence_length, label):
    data_matrix = df[label].values
    num_elements = data_matrix.shape[0]

    # -1 because I want to predict the rul of that last row in the sequence, not the next row
    return data_matrix[sequence_length-1:num_elements, :]  

def gen_label_wrapper(df, sequence_length, label, unit_nrs=np.array([]), idx_col="unit_number"):
    if unit_nrs.size <= 0:
        unit_nrs = df[idx_col].unique()
        
    label_gen = [gen_labels(df[df[idx_col]==unit_nr], sequence_length, label) 
                for unit_nr in unit_nrs]
    label_array = np.concatenate(label_gen).astype(np.float32)
    return label_array

In [ ]:
def gen_test_data(df, sequence_length, columns, mask_value):
    if df.shape[0] < sequence_length:
        data_matrix = np.full(shape=(sequence_length, len(columns)), fill_value=mask_value) # pad
        idx = data_matrix.shape[0] - df.shape[0]
        data_matrix[idx:,:] = df[columns].values  # fill with available data
    else:
        data_matrix = df[columns].values
        
    # specifically yield the last possible sequence
    stop = num_elements = data_matrix.shape[0]
    start = stop - sequence_length
    for i in list(range(1)):
        yield data_matrix[start:stop, :]

- Criar um transformer customizado que recebe o standard ou o minmax para transformar os dados por experimento e também redimensioná-los
- Na hora de fazer o predict no teste, transforma ele separado e usa apenas o predictor do pipeline

In [ ]:
index_cols, settings_cols, sensors_cols, cols
seq_cols = [index_cols[1]]+settings_cols+sensors_cols
seq_cols

['time',
 'op_1',
 'op_2',
 'op_3',
 's_0',
 's_1',
 's_2',
 's_3',
 's_4',
 's_5',
 's_6',
 's_7',
 's_8',
 's_9',
 's_10',
 's_11',
 's_12',
 's_13',
 's_14',
 's_15',
 's_16',
 's_17',
 's_18',
 's_19',
 's_20']

In [ ]:
# Generate sequences
seq_gen = (list(gen_sequence(train[train['unit_number']==id], 50, seq_cols)) 
           for id in train['unit_number'].unique())
# Convert them to numpy array
seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
print(seq_array.shape)

(15631, 50, 25)

In [ ]:
# function to generate labels
def gen_labels(id_df, seq_length, label):
    """ Only sequences that meet the window-length are considered, no padding is used. This means for testing
    we need to drop those which are below the window-length. An alternative would be to pad sequences so that
    we can use shorter ones """
    # For one id I put all the labels in a single matrix.
    # For example:
    # [[1]
    # [4]
    # [1]
    # [5]
    # [9]
    # ...
    # [200]] 
    data_matrix = id_df[label].values
    num_elements = data_matrix.shape[0]
    # I have to remove the first seq_length labels
    # because for one id the first sequence of seq_length size have as target
    # the last label (the previus ones are discarded).
    # All the next id's sequences will have associated step by step one label as target.
    return data_matrix[seq_length:num_elements, :]

In [ ]:
# Generate labels
label_gen = [gen_labels(train[train['unit_number']==id], 50, ['RUL']) 
             for id in train['unit_number'].unique()]
label_array = np.concatenate(label_gen).astype(np.float32)
label_array.shape

(15631, 1)

In [ ]:
label_array

array([[141.],
       [140.],
       [139.],
       ...,
       [  2.],
       [  1.],
       [  0.]], dtype=float32)

In [ ]:
nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]
seq_length = 50
optim=Adam
loss='mean_squared_error'
metrics=[tf.keras.metrics.MeanSquaredError()]
learning_rate=1e-4

model = Sequential()
model.add(LSTM(
         input_shape=(seq_length, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(units=nb_out, activation="linear"))
model.compile(loss=loss, optimizer=optim(learning_rate=learning_rate), 
                  metrics=metrics)

print(model.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 50, 100)           50400

 dropout_2 (Dropout)         (None, 50, 100)           0

 lstm_3 (LSTM)               (None, 50)                30200

 dropout_3 (Dropout)         (None, 50)                0

 dense_1 (Dense)             (None, 1)                 51

=================================================================
Total params: 80,651
Trainable params: 80,651
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model_path = 'regression_model.h5'

In [ ]:
# fit the network
history = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=2,
          callbacks = [tf.keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='min'),
                       tf.keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)]
          )

# list all data in history
print(history.history.keys())

Epoch 1/100
75/75 - 9s - loss: 10223.8975 - mean_squared_error: 10223.8975 - val_loss: 9789.6182 - val_mean_squared_error: 9789.6182 - 9s/epoch - 122ms/step
Epoch 2/100
75/75 - 1s - loss: 9681.2988 - mean_squared_error: 9681.2988 - val_loss: 9228.5029 - val_mean_squared_error: 9228.5029 - 740ms/epoch - 10ms/step
Epoch 3/100
75/75 - 1s - loss: 9246.7285 - mean_squared_error: 9246.7295 - val_loss: 8916.2256 - val_mean_squared_error: 8916.2256 - 744ms/epoch - 10ms/step
Epoch 4/100
75/75 - 1s - loss: 8980.3496 - mean_squared_error: 8980.3496 - val_loss: 8706.0137 - val_mean_squared_error: 8706.0137 - 739ms/epoch - 10ms/step
Epoch 5/100
75/75 - 1s - loss: 8809.0957 - mean_squared_error: 8809.0957 - val_loss: 8564.6621 - val_mean_squared_error: 8564.6621 - 748ms/epoch - 10ms/step
Epoch 6/100
75/75 - 1s - loss: 8684.6152 - mean_squared_error: 8684.6152 - val_loss: 8457.2520 - val_mean_squared_error: 8457.2520 - 730ms/epoch - 10ms/step
Epoch 7/100
75/75 - 1s - loss: 8585.2500 - mean_squared_error: 8585.2510 - val_loss: 8367.8896 - val_mean_squared_error: 8367.8896 - 753ms/epoch - 10ms/step
Epoch 8/100
75/75 - 1s - loss: 8499.4307 - mean_squared_error: 8499.4307 - val_loss: 8289.1465 - val_mean_squared_error: 8289.1465 - 731ms/epoch - 10ms/step
Epoch 9/100
75/75 - 1s - loss: 8425.8818 - mean_squared_error: 8425.8818 - val_loss: 8216.9531 - val_mean_squared_error: 8216.9531 - 743ms/epoch - 10ms/step
Epoch 10/100
75/75 - 1s - loss: 8355.2891 - mean_squared_error: 8355.2891 - val_loss: 8149.2773 - val_mean_squared_error: 8149.2783 - 750ms/epoch - 10ms/step
Epoch 11/100
75/75 - 1s - loss: 8286.0391 - mean_squared_error: 8286.0391 - val_loss: 8084.8208 - val_mean_squared_error: 8084.8208 - 752ms/epoch - 10ms/step
Epoch 12/100
75/75 - 1s - loss: 8223.7578 - mean_squared_error: 8223.7578 - val_loss: 8022.8145 - val_mean_squared_error: 8022.8145 - 736ms/epoch - 10ms/step
Epoch 13/100
75/75 - 1s - loss: 8161.8599 - mean_squared_error: 8161.8599 - val_loss: 7963.0244 - val_mean_squared_error: 7963.0244 - 752ms/epoch - 10ms/step
Epoch 14/100
75/75 - 1s - loss: 8099.4731 - mean_squared_error: 8099.4731 - val_loss: 7904.4316 - val_mean_squared_error: 7904.4316 - 739ms/epoch - 10ms/step
Epoch 15/100
75/75 - 1s - loss: 8044.7183 - mean_squared_error: 8044.7183 - val_loss: 7847.6318 - val_mean_squared_error: 7847.6318 - 746ms/epoch - 10ms/step
Epoch 16/100
75/75 - 1s - loss: 7985.6958 - mean_squared_error: 7985.6958 - val_loss: 7791.9292 - val_mean_squared_error: 7791.9292 - 759ms/epoch - 10ms/step
Epoch 17/100
75/75 - 1s - loss: 7931.9185 - mean_squared_error: 7931.9185 - val_loss: 7737.2368 - val_mean_squared_error: 7737.2373 - 1s/epoch - 13ms/step
Epoch 18/100
75/75 - 1s - loss: 7875.4312 - mean_squared_error: 7875.4312 - val_loss: 7683.1753 - val_mean_squared_error: 7683.1753 - 983ms/epoch - 13ms/step
Epoch 19/100
75/75 - 1s - loss: 7823.1069 - mean_squared_error: 7823.1069 - val_loss: 7630.3306 - val_mean_squared_error: 7630.3306 - 935ms/epoch - 12ms/step
Epoch 20/100
75/75 - 1s - loss: 7771.4834 - mean_squared_error: 7771.4834 - val_loss: 7578.2266 - val_mean_squared_error: 7578.2266 - 786ms/epoch - 10ms/step
Epoch 21/100
75/75 - 1s - loss: 7720.5161 - mean_squared_error: 7720.5161 - val_loss: 7526.7729 - val_mean_squared_error: 7526.7729 - 759ms/epoch - 10ms/step
Epoch 22/100
75/75 - 1s - loss: 7672.3130 - mean_squared_error: 7672.3130 - val_loss: 7476.0103 - val_mean_squared_error: 7476.0103 - 736ms/epoch - 10ms/step
Epoch 23/100
75/75 - 1s - loss: 7613.6743 - mean_squared_error: 7613.6743 - val_loss: 7425.8726 - val_mean_squared_error: 7425.8721 - 743ms/epoch - 10ms/step
Epoch 24/100
75/75 - 1s - loss: 7567.4126 - mean_squared_error: 7567.4126 - val_loss: 7376.3735 - val_mean_squared_error: 7376.3745 - 721ms/epoch - 10ms/step
Epoch 25/100
75/75 - 1s - loss: 7512.7715 - mean_squared_error: 7512.7720 - val_loss: 7327.1880 - val_mean_squared_error: 7327.1880 - 744ms/epoch - 10ms/step
Epoch 26/100
75/75 - 1s - loss: 7469.5361 - mean_squared_error: 7469.5361 - val_loss: 7278.6777 - val_mean_squared_error: 7278.6777 - 746ms/epoch - 10ms/step
Epoch 27/100
75/75 - 1s - loss: 7418.9482 - mean_squared_error: 7418.9482 - val_loss: 7230.6494 - val_mean_squared_error: 7230.6494 - 730ms/epoch - 10ms/step
Epoch 28/100
75/75 - 1s - loss: 7367.9951 - mean_squared_error: 7367.9951 - val_loss: 7182.8843 - val_mean_squared_error: 7182.8843 - 755ms/epoch - 10ms/step
Epoch 29/100
75/75 - 1s - loss: 7323.4277 - mean_squared_error: 7323.4277 - val_loss: 7136.0293 - val_mean_squared_error: 7136.0293 - 746ms/epoch - 10ms/step
Epoch 30/100
75/75 - 1s - loss: 7277.9609 - mean_squared_error: 7277.9609 - val_loss: 7089.4316 - val_mean_squared_error: 7089.4316 - 747ms/epoch - 10ms/step
Epoch 31/100
75/75 - 1s - loss: 7233.6831 - mean_squared_error: 7233.6831 - val_loss: 7043.1675 - val_mean_squared_error: 7043.1675 - 743ms/epoch - 10ms/step
Epoch 32/100
75/75 - 1s - loss: 7183.5405 - mean_squared_error: 7183.5405 - val_loss: 6997.3306 - val_mean_squared_error: 6997.3306 - 741ms/epoch - 10ms/step
Epoch 33/100
75/75 - 1s - loss: 7135.4336 - mean_squared_error: 7135.4336 - val_loss: 6951.7866 - val_mean_squared_error: 6951.7866 - 766ms/epoch - 10ms/step
Epoch 34/100
75/75 - 1s - loss: 7089.4634 - mean_squared_error: 7089.4634 - val_loss: 6906.7041 - val_mean_squared_error: 6906.7041 - 746ms/epoch - 10ms/step
Epoch 35/100
75/75 - 1s - loss: 7046.6104 - mean_squared_error: 7046.6104 - val_loss: 6861.9712 - val_mean_squared_error: 6861.9712 - 762ms/epoch - 10ms/step
Epoch 36/100
75/75 - 1s - loss: 6999.9312 - mean_squared_error: 6999.9312 - val_loss: 6817.8218 - val_mean_squared_error: 6817.8218 - 760ms/epoch - 10ms/step
Epoch 37/100
75/75 - 1s - loss: 6961.0840 - mean_squared_error: 6961.0840 - val_loss: 6773.9160 - val_mean_squared_error: 6773.9160 - 749ms/epoch - 10ms/step
Epoch 38/100
75/75 - 1s - loss: 6913.6958 - mean_squared_error: 6913.6958 - val_loss: 6730.4897 - val_mean_squared_error: 6730.4897 - 757ms/epoch - 10ms/step
Epoch 39/100
75/75 - 1s - loss: 6865.1089 - mean_squared_error: 6865.1089 - val_loss: 6687.2188 - val_mean_squared_error: 6687.2188 - 742ms/epoch - 10ms/step
Epoch 40/100
75/75 - 1s - loss: 6826.0371 - mean_squared_error: 6826.0371 - val_loss: 6644.4707 - val_mean_squared_error: 6644.4707 - 765ms/epoch - 10ms/step
Epoch 41/100
75/75 - 1s - loss: 6783.6543 - mean_squared_error: 6783.6543 - val_loss: 6602.0400 - val_mean_squared_error: 6602.0400 - 759ms/epoch - 10ms/step
Epoch 42/100
75/75 - 1s - loss: 6739.5840 - mean_squared_error: 6739.5840 - val_loss: 6559.9097 - val_mean_squared_error: 6559.9097 - 744ms/epoch - 10ms/step
Epoch 43/100
75/75 - 1s - loss: 6693.0903 - mean_squared_error: 6693.0903 - val_loss: 6518.0557 - val_mean_squared_error: 6518.0557 - 763ms/epoch - 10ms/step
Epoch 44/100
75/75 - 1s - loss: 6658.0005 - mean_squared_error: 6658.0005 - val_loss: 6476.6050 - val_mean_squared_error: 6476.6050 - 749ms/epoch - 10ms/step
Epoch 45/100
75/75 - 1s - loss: 6610.4409 - mean_squared_error: 6610.4409 - val_loss: 6435.5034 - val_mean_squared_error: 6435.5034 - 781ms/epoch - 10ms/step
Epoch 46/100
75/75 - 1s - loss: 6576.3149 - mean_squared_error: 6576.3149 - val_loss: 6394.8662 - val_mean_squared_error: 6394.8662 - 786ms/epoch - 10ms/step
Epoch 47/100
75/75 - 1s - loss: 6528.4658 - mean_squared_error: 6528.4658 - val_loss: 6354.2534 - val_mean_squared_error: 6354.2534 - 750ms/epoch - 10ms/step
Epoch 48/100
75/75 - 1s - loss: 6494.4229 - mean_squared_error: 6494.4229 - val_loss: 6314.0435 - val_mean_squared_error: 6314.0435 - 775ms/epoch - 10ms/step
Epoch 49/100
75/75 - 1s - loss: 6453.4624 - mean_squared_error: 6453.4624 - val_loss: 6274.2500 - val_mean_squared_error: 6274.2500 - 750ms/epoch - 10ms/step
Epoch 50/100
75/75 - 1s - loss: 6408.8560 - mean_squared_error: 6408.8564 - val_loss: 6234.6904 - val_mean_squared_error: 6234.6904 - 773ms/epoch - 10ms/step
Epoch 51/100
75/75 - 1s - loss: 6371.0928 - mean_squared_error: 6371.0928 - val_loss: 6195.4600 - val_mean_squared_error: 6195.4600 - 774ms/epoch - 10ms/step
Epoch 52/100
75/75 - 1s - loss: 6338.3325 - mean_squared_error: 6338.3325 - val_loss: 6156.6680 - val_mean_squared_error: 6156.6680 - 757ms/epoch - 10ms/step
Epoch 53/100
75/75 - 1s - loss: 6292.8770 - mean_squared_error: 6292.8770 - val_loss: 6118.0068 - val_mean_squared_error: 6118.0068 - 792ms/epoch - 11ms/step
Epoch 54/100
75/75 - 1s - loss: 6256.6509 - mean_squared_error: 6256.6509 - val_loss: 6079.7134 - val_mean_squared_error: 6079.7134 - 752ms/epoch - 10ms/step
Epoch 55/100
75/75 - 1s - loss: 6216.4175 - mean_squared_error: 6216.4175 - val_loss: 6041.6968 - val_mean_squared_error: 6041.6968 - 766ms/epoch - 10ms/step
Epoch 56/100
75/75 - 1s - loss: 6176.8921 - mean_squared_error: 6176.8921 - val_loss: 6003.8247 - val_mean_squared_error: 6003.8247 - 753ms/epoch - 10ms/step
Epoch 57/100
75/75 - 1s - loss: 6141.4556 - mean_squared_error: 6141.4556 - val_loss: 5966.4912 - val_mean_squared_error: 5966.4912 - 744ms/epoch - 10ms/step
Epoch 58/100
75/75 - 1s - loss: 6103.6948 - mean_squared_error: 6103.6948 - val_loss: 5929.2969 - val_mean_squared_error: 5929.2969 - 762ms/epoch - 10ms/step
Epoch 59/100
75/75 - 1s - loss: 6069.4058 - mean_squared_error: 6069.4058 - val_loss: 5892.4214 - val_mean_squared_error: 5892.4214 - 770ms/epoch - 10ms/step
Epoch 60/100
75/75 - 1s - loss: 6030.4194 - mean_squared_error: 6030.4194 - val_loss: 5855.9448 - val_mean_squared_error: 5855.9448 - 766ms/epoch - 10ms/step
Epoch 61/100
75/75 - 1s - loss: 5995.1045 - mean_squared_error: 5995.1045 - val_loss: 5819.6030 - val_mean_squared_error: 5819.6030 - 746ms/epoch - 10ms/step
Epoch 62/100
75/75 - 1s - loss: 5954.4478 - mean_squared_error: 5954.4478 - val_loss: 5783.3774 - val_mean_squared_error: 5783.3774 - 762ms/epoch - 10ms/step
Epoch 63/100
75/75 - 1s - loss: 5926.1406 - mean_squared_error: 5926.1406 - val_loss: 5747.8271 - val_mean_squared_error: 5747.8271 - 752ms/epoch - 10ms/step
Epoch 64/100
75/75 - 1s - loss: 5882.4111 - mean_squared_error: 5882.4111 - val_loss: 5712.4087 - val_mean_squared_error: 5712.4087 - 733ms/epoch - 10ms/step
Epoch 65/100
75/75 - 1s - loss: 5849.6738 - mean_squared_error: 5849.6738 - val_loss: 5677.2266 - val_mean_squared_error: 5677.2266 - 721ms/epoch - 10ms/step
Epoch 66/100
75/75 - 1s - loss: 5814.6851 - mean_squared_error: 5814.6851 - val_loss: 5642.1919 - val_mean_squared_error: 5642.1919 - 764ms/epoch - 10ms/step
Epoch 67/100
75/75 - 1s - loss: 5781.4766 - mean_squared_error: 5781.4766 - val_loss: 5607.5933 - val_mean_squared_error: 5607.5933 - 742ms/epoch - 10ms/step
Epoch 68/100
75/75 - 1s - loss: 5744.6211 - mean_squared_error: 5744.6211 - val_loss: 5573.1484 - val_mean_squared_error: 5573.1484 - 751ms/epoch - 10ms/step
Epoch 69/100
75/75 - 1s - loss: 5712.0166 - mean_squared_error: 5712.0166 - val_loss: 5539.1772 - val_mean_squared_error: 5539.1772 - 749ms/epoch - 10ms/step
Epoch 70/100
75/75 - 1s - loss: 5675.8887 - mean_squared_error: 5675.8887 - val_loss: 5505.3926 - val_mean_squared_error: 5505.3926 - 783ms/epoch - 10ms/step
Epoch 71/100
75/75 - 1s - loss: 5641.4980 - mean_squared_error: 5641.4980 - val_loss: 5471.9302 - val_mean_squared_error: 5471.9302 - 748ms/epoch - 10ms/step
Epoch 72/100
75/75 - 1s - loss: 5612.2876 - mean_squared_error: 5612.2876 - val_loss: 5438.6279 - val_mean_squared_error: 5438.6279 - 759ms/epoch - 10ms/step
Epoch 73/100
75/75 - 1s - loss: 5571.0645 - mean_squared_error: 5571.0649 - val_loss: 5405.6421 - val_mean_squared_error: 5405.6421 - 754ms/epoch - 10ms/step
Epoch 74/100
75/75 - 1s - loss: 5541.1509 - mean_squared_error: 5541.1514 - val_loss: 5373.0200 - val_mean_squared_error: 5373.0200 - 748ms/epoch - 10ms/step
Epoch 75/100
75/75 - 1s - loss: 5507.3442 - mean_squared_error: 5507.3442 - val_loss: 5340.4570 - val_mean_squared_error: 5340.4570 - 749ms/epoch - 10ms/step
Epoch 76/100
75/75 - 1s - loss: 5479.5273 - mean_squared_error: 5479.5273 - val_loss: 5308.1621 - val_mean_squared_error: 5308.1621 - 756ms/epoch - 10ms/step
Epoch 77/100
75/75 - 1s - loss: 5441.4854 - mean_squared_error: 5441.4854 - val_loss: 5276.2969 - val_mean_squared_error: 5276.2969 - 729ms/epoch - 10ms/step
Epoch 78/100
75/75 - 1s - loss: 5414.0239 - mean_squared_error: 5414.0239 - val_loss: 5244.6113 - val_mean_squared_error: 5244.6113 - 744ms/epoch - 10ms/step
Epoch 79/100
75/75 - 1s - loss: 5384.9941 - mean_squared_error: 5384.9941 - val_loss: 5213.3911 - val_mean_squared_error: 5213.3911 - 743ms/epoch - 10ms/step
Epoch 80/100
75/75 - 1s - loss: 5348.9824 - mean_squared_error: 5348.9824 - val_loss: 5182.2510 - val_mean_squared_error: 5182.2510 - 732ms/epoch - 10ms/step
Epoch 81/100
75/75 - 1s - loss: 5321.2471 - mean_squared_error: 5321.2466 - val_loss: 5151.3374 - val_mean_squared_error: 5151.3374 - 743ms/epoch - 10ms/step
Epoch 82/100
75/75 - 1s - loss: 5281.9912 - mean_squared_error: 5281.9912 - val_loss: 5120.6738 - val_mean_squared_error: 5120.6738 - 753ms/epoch - 10ms/step
Epoch 83/100
75/75 - 1s - loss: 5254.3438 - mean_squared_error: 5254.3438 - val_loss: 5090.3706 - val_mean_squared_error: 5090.3706 - 731ms/epoch - 10ms/step
Epoch 84/100
75/75 - 1s - loss: 5221.4707 - mean_squared_error: 5221.4707 - val_loss: 5060.4004 - val_mean_squared_error: 5060.4004 - 743ms/epoch - 10ms/step
Epoch 85/100
75/75 - 1s - loss: 5202.6401 - mean_squared_error: 5202.6401 - val_loss: 5030.6514 - val_mean_squared_error: 5030.6514 - 746ms/epoch - 10ms/step
Epoch 86/100
75/75 - 1s - loss: 5170.0659 - mean_squared_error: 5170.0659 - val_loss: 5001.2100 - val_mean_squared_error: 5001.2100 - 753ms/epoch - 10ms/step
Epoch 87/100
75/75 - 1s - loss: 5135.5259 - mean_squared_error: 5135.5259 - val_loss: 4971.9722 - val_mean_squared_error: 4971.9722 - 753ms/epoch - 10ms/step
Epoch 88/100
75/75 - 1s - loss: 5108.2642 - mean_squared_error: 5108.2642 - val_loss: 4942.9009 - val_mean_squared_error: 4942.9009 - 741ms/epoch - 10ms/step
Epoch 89/100
75/75 - 1s - loss: 5079.4272 - mean_squared_error: 5079.4272 - val_loss: 4914.2847 - val_mean_squared_error: 4914.2847 - 768ms/epoch - 10ms/step
Epoch 90/100
75/75 - 1s - loss: 5051.1968 - mean_squared_error: 5051.1978 - val_loss: 4885.6895 - val_mean_squared_error: 4885.6895 - 757ms/epoch - 10ms/step
Epoch 91/100
75/75 - 1s - loss: 5020.0547 - mean_squared_error: 5020.0547 - val_loss: 4857.6172 - val_mean_squared_error: 4857.6172 - 745ms/epoch - 10ms/step
Epoch 92/100
75/75 - 1s - loss: 4990.2812 - mean_squared_error: 4990.2812 - val_loss: 4829.5928 - val_mean_squared_error: 4829.5928 - 733ms/epoch - 10ms/step
Epoch 93/100
75/75 - 1s - loss: 4963.8579 - mean_squared_error: 4963.8579 - val_loss: 4801.7173 - val_mean_squared_error: 4801.7173 - 732ms/epoch - 10ms/step
Epoch 94/100
75/75 - 1s - loss: 4927.6128 - mean_squared_error: 4927.6128 - val_loss: 4774.2368 - val_mean_squared_error: 4774.2368 - 750ms/epoch - 10ms/step
Epoch 95/100
75/75 - 1s - loss: 4910.8276 - mean_squared_error: 4910.8271 - val_loss: 4747.1123 - val_mean_squared_error: 4747.1123 - 756ms/epoch - 10ms/step
Epoch 96/100
75/75 - 1s - loss: 4884.7158 - mean_squared_error: 4884.7158 - val_loss: 4720.2148 - val_mean_squared_error: 4720.2148 - 731ms/epoch - 10ms/step
Epoch 97/100
75/75 - 1s - loss: 4857.3237 - mean_squared_error: 4857.3237 - val_loss: 4693.5205 - val_mean_squared_error: 4693.5210 - 751ms/epoch - 10ms/step
Epoch 98/100
75/75 - 1s - loss: 4824.9272 - mean_squared_error: 4824.9277 - val_loss: 4667.2007 - val_mean_squared_error: 4667.2007 - 739ms/epoch - 10ms/step
Epoch 99/100
75/75 - 1s - loss: 4807.8638 - mean_squared_error: 4807.8638 - val_loss: 4641.2002 - val_mean_squared_error: 4641.2002 - 739ms/epoch - 10ms/step
Epoch 100/100
75/75 - 1s - loss: 4778.5933 - mean_squared_error: 4778.5933 - val_loss: 4615.3418 - val_mean_squared_error: 4615.3418 - 752ms/epoch - 10ms/step
dict_keys(['loss', 'mean_squared_error', 'val_loss', 'val_mean_squared_error'])

## Model Instantiation

In [ ]:
def create_model(optim=Adam, layer_nodes=[16,32,64], dropout=0.1, 
                 activation="relu", learning_rate=1e-4, degree=1,
                 print_summary=False, loss='mean_squared_error',
                 metrics=[tf.keras.metrics.MeanSquaredError()]):
    """
    Compile a Keras Regressor MLP with specified parameters
    """

    model = Sequential()

    # Input Layer
    input_dim = PolynomialFeatures(degree=degree,include_bias=False) \
                        .fit_transform(X_train).shape[1]
    model.add(Dense(layer_nodes[0], input_dim=input_dim, activation=activation))
    model.add(Dropout(dropout))

    # Hidden Layers
    for i in range(len(layer_nodes)-1):
        model.add(Dense(layer_nodes[i+1], activation=activation))
        model.add(Dropout(dropout))

    # Output Layer
    model.add(Dense(1))

    model.compile(loss=loss, optimizer=optim(learning_rate=learning_rate), 
                  metrics=metrics)
    if(print_summary): model.summary()
    return model

## Auxiliary HyperParameters

In [ ]:
layer_sizes=[16,32,64,128,256,512]

In [ ]:
# Exponential Decay Schedules
ED1 = ExponentialDecay(initial_learning_rate=1e-2, name="ED1",
                       decay_steps=100000, decay_rate=0.96)
ED2 = ExponentialDecay(initial_learning_rate=1e-2, name="ED2",
                       decay_steps=100000, decay_rate=0.8)
ED3 = ExponentialDecay(initial_learning_rate=1e-1, name="ED3",
                       decay_steps=100000, decay_rate=0.96)

In [ ]:
# Generation of list combinations
from itertools import chain, permutations

def all_permutations(lst, size):
    result = list(chain.from_iterable([permutations(lst, x) for x in range(len(lst)+1)]))
    out = []
    for r in result:
        if (len(r) == size):
            out.append(list(r))
    return out